.blue{
	background: #5DAAE0;
}
.orange{
	background: #FC7500;
	color: #ffffff;
}
.orange:hover{
	background: #80CF12;
	color: #ffffff;
}
.textarea{
	height: 30vh;
}
::-webkit-scrollbar {
  width: 0.5vw;
}
::-webkit-scrollbar-track {
  background: #817c50;
}
::-webkit-scrollbar-thumb {
  background: #fc7500;
}
::-webkit-scrollbar-thumb:hover {
  background: #fc7500;
}